<a href="https://colab.research.google.com/github/SolemnShark871/Churn/blob/main/SVM_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install pandas-profiling==2.7.1

## General packages
import pandas as pd
import numpy as np
import os
import math
from google.colab import drive
from pandas_profiling import ProfileReport
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler

import scipy
import scipy.stats as stats
from sklearn.decomposition import PCA

drive.mount('/content/drive', force_remount= True)
os.chdir('/content/drive/MyDrive/Churn') #Thomas & Favio & Juan

os.listdir("./")

Mounted at /content/drive

['personas_retiradas.csv',
 'Actividades.pdf',
 'Relational_1.pdf',
 'Actividades.gdoc',
 'Fancy Histogram of Ages.png',
 'Correlation for all features retired.png',
 'download.jpg',
 'Correlation for all features nonretired.png',
 'non_retired_people.csv',
 'retired_people.csv',
 'Datasets_Churn.ipynb',
 'Relational_1.gdoc',
 'not_scaled_not_pca_merged.csv',
 'Data_exploration.ipynb',
 'ML models.ipynb']

In [ ]:
# ML models

In [ ]:
# New cell


df_lamda = pd.read_csv('not_scaled_not_pca_merged.csv')

df_lamda.head()

   Unnamed: 0  PERSONA  AC_TP  ADM_TP  ...  GENERO  TIEMPO_EMP     LAMBDA  LABEL
0         185      843      0      19  ...       1          13  13.335903      1
1         549     1368      0       5  ...       1           6  13.335903      1
2         971       21      0      29  ...       0         192  46.694458      0
3          80      571      0       0  ...       0          22  23.737822      1
4         886     2019      0      23  ...       0          13  23.737822      1

[5 rows x 691 columns]

Warning: Total number of columns (691) exceeds max_columns (20) limiting to first (20) columns.